@charset "utf-8";
/* CSS Document */

.develop_space { padding-bottom:10px;}

.develop_picShow { width:99%; height:190px; overflow-x:auto;}
.develop_picShow li { float:left; margin-left:15px; margin-bottom:20px;}
.develop_pic { width:200px; height:150px; border:1px solid #ddd;  overflow:hidden;}
.develop_link { margin-top:10px; width:200px;}


.develop_locus { margin-top:10px; }   
.develop_locus ul {  }
.develop_locus ul li { float:left; width:75px; line-height:20px; padding:5px; vertical-align:top;}
.develop_locus ul li.top { float:left; width:134px; height:43px; line-height:20px; padding:0px 8px; vertical-align:top;}
.dpLocus_trend01 { width:75px; height:16px; background: url(../images/develop/develop_01.png) left no-repeat;}
.dpLocus_trend02 { width:75px; height:16px; background: url(../images/develop/develop_02.png) left no-repeat;}
.dpLocus_trend03 { width:75px; height:16px; background: url(../images/develop/develop_03.png) left no-repeat;}
.dpLocus_trend04 { width:75px; height:16px; background: url(../images/develop/develop_04.png) left no-repeat;}
.dpLocus_text { width:75px; height:25px; line-height:25px;}
.dpLocus_text2 { width:120px; height:23px; line-height:25px; margin-top:-25px; margin-left:108px;}
.dpLocus_trend05 { width:134px; height:43px; background: url(../images/develop/develop_05.png) left no-repeat; margin-left:4px;}
.dpLocus_trend06 { width:134px; height:43px; background: url(../images/develop/develop_06.png) left no-repeat;margin-left:4px;}
.dpLocus_trend07 { width:113px; height:43px; background: url(../images/develop/develop_07.png) left no-repeat;margin-left:4px;}
.dpLocus_trend08 { width:113px; height:43px; background: url(../images/develop/develop_08.png) left no-repeat;margin-left:4px;}



.develop_head { height:26px; line-height:26px; background:#e4effc; border:1px solid #91b3ce; padding:0px 10px; color:#333; margin-top:10px; color:#4474b2;}

.develop_operate { height:35px; text-align:center; background:#f2f2f2; border-top:1px solid #d9d9d9; margin-top:15px; padding-top:10px; margin-left:-5px; margin-right:-5px;}
.warnning_tips {
background: #FFFFE0 url("/images/base/bg_tips01.png") no-repeat scroll 8px 8px;border: 1px solid #FAE2BA;padding: 2px 10px 2px 30px;margin-top: 6px;height: 25px;line-height: 26px;margin-left: 5px;margin-right: 7px;
}